PORT=8080
NODE_ENV=development
DATABASE_URL="postgresql://adcrivo:adcrivo@localhost:5432/events-db"
AWS_REGION=ap-south-1
SQS_ENDPOINT=http://localhost:4566
SQS_QUEUE_URL=http://localhost:4566/000000000000/adcrivo-ad-events-local
CORS_ORIGIN=*
API_KEY=test-api-key-local
